body{
	font-family: Helvetica, sans-serif;
	margin: auto;

}
body h2{
	text-align: center;
	background-color: black;
	color: white;
	max-width: 200px;
	margin-left: 10px;
}


#header  {
color: white;
padding:10px;
font-size: 25px;
margin-top: auto;
margin-bottom: auto;
text-decoration: none

}
#header a{
	text-decoration: none;
	color: white;
}
.nav-bar{
	background-color: black;
	display: flex;
	justify-content:space-around;
	position :fixed;
	top: 0;
	overflow: hidden;
	width: 100%;
	z-index: 1; /*Pour gérer la superposition*/
	
}
.nav-bar ul .btn{
	list-style: none;
	display: inline-block;	
}

.nav-bar ul .btn a{
	list-style: none;
	padding:14px 16px;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	color: white;
	background: black;
	
}
 .nav-bar ul .btn:hover a{
 	color: black;
 	background: white;
 	transition-duration: 2s ;
 }
#content{
	margin-top: 150px;

}
#content a{
	color: gray;
}
#section1{
    display: flex;
	margin: auto;
	max-width: 1200px;
  	background-color: #fff;
  	overflow: scroll;
 	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
 	justify-content: space-around;


}
#section1 div {
	display: inline-block;
	padding:10px;

}

.profil img{
	width: 200px;
	height:300px;
	margin: 10px;
	filter: grayscale(100%);
	
}
.profil:hover img{
	filter: grayscale(0%);
	transition-duration: 1s;

}
.story{
	width: 400px;
	height: 300px;
	margin: 20px;
}
#section2 {
 
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
   margin: auto;
}
#section2 .inner{
	width: 300px;
	height: 400px;
	background-color: #fff;
  	overflow: auto;
 	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: 10px;
 

}

#section3 {
 
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);

}

#section3 div {
	display: inline-block;
	margin:10px;

}

.img-single img{
	width: 100px;
	height: 100px;
	filter: grayscale(100%);

}
.img-single:hover img{
	filter: grayscale(0%);
	transition-duration: 2s;
}

footer{
	
	justify-content: space-around;
	background-color: black;
	text-align: center;
	padding: 10px;
	margin-top: 30px

}
footer a{
	padding-left: 30px;
	padding-right: 30px;
}
@media(max-width: 768px){
	
	body section{
		display:flex;
		flex-direction: column;
		
	}
	body h2{
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.nav-bar ul{
		display: none;
	}

	#section1 div{
		display: flex;
		padding: 10px;
		flex-direction: column;
	}
	.story{
		overflow: scroll;
		width: auto;
		margin-top: 20px;
	}
	.profil img{
		margin: auto;
	}

    #section2{
       padding: 10px;

    }

	#section2 .inner {
	margin: auto;
	margin-top: 20px;
	}
    
    #section3 div {
    	max-height: 400px;
    	overflow: scroll;
    }
    footer a{
    	padding-left: 20px;
		padding-right: 20px;

    }
}